/*Start Slider*/
.slider-container{
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    
}

.text{
    color: #fff;
    font-size: 50px;
}

@media screen and (max-width:900px){
    .text{
        font-size:35px;
    }
}
.slider-item-1{
    width: 100%;
    height: 100%;
    background-image: url('../img/slid-1.webp');
    background-position: center center;
    background-size: cover;
    float: left;
}

.slider-item-2{
    width: 100%;
    height: 100%;
    background-image: url('../img/slid-2.webp');
    background-position: center center;
    background-size: cover;
    float: left;
}

.slider-item-3{
    width: 100%;
    height: 100%;
    background-image: url('../img/slid-3.webp');
    background-position: center center;
    background-size: cover;
    float: left;
}

.slider-item-4{
    width: 100%;
    height: 100%;
    background-image: url('../img/slid-4.webp');
    background-position: center center;
    background-size: cover;
    float: left;
}

.slider-item-5{
    width: 100%;
    height: 100%;
    background-image: url('../img/slid-5.webp');
    background-position: center center;
    background-size: cover;
    float: left;
}
.slide{
    display: none;
}
/*End Slider*/